* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    height: 100vh;
}


/*Tipografia*/

body{
    header{
        h1{font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Parisienne', cursive;
}
    }
}

body {font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
}

footer{
    background-color: orange;
}
.esto{
    background-color:$fondo;
}