//Estilos generales
/*Esrilos generales*/

@import "responsive";
@import "general";

//clases

.contacto{
    background-color: $fondo;
    text-align: center;
    color: black;
    h2{
        color: blueviolet

    }
}

//Clases//

.productos{
    @extend .contacto;
    color:black;
}

.border {
    border: 1px solid black;
}

.fondo{
    background-color:$fondo;
    color:blueviolet;
}
.fondoUno{
    background-color:$fondo;
    margin:0rem 1.5rem;

}

.flor{
    background-color:$fondo;
    }
    
    .centerMenu{
        padding: 1rem 9rem 1rem 9rem;
    }
    
    .titulo5{
        background-color:rgb(253, 39, 75);
    }
    
header{

    h1{
        color:crimson;
        background-color: orange;
    } 

}

